
div.gridWrapper {
      position:absolute;
    height: 800px;
    width: 360px;
    top: 120em;
}

div.grid {
    position: absolute;
    width: 360px;
    height: 800px;
   
}


/*For the best layout, margin should be added to .card and padding should be added to .front and .back*/

.card {
    position: absolute;
    margin: 0;
    width: 120px;
    height: 176px;
}


/* fluid 5 columns */

.grid-sizer,
.grid-item {
width: 120px;
    /* height: auto;*/
    height: 176px;
    /*margin: auto;*/
}

div.grid-item img {
    width: 120px;
    height: 176px;
    position: relative;
    z-index: 1
}

div.toGalleryWrapper {
    position: relative;
    width: 100%;
    text-align: center;
}
